{#
 # Passed in variables:
 #
 #   * twigparent           — string    Template name to inherit from
 #   * success              — boolean   If the validation succeeded
 #   * message              — string    Message from validator
 #   * code                 — string    The request code
 #   * feedback             — Feedback  Informational, error, and debug feedback messages. @see feedback/feedback.twig
 #   * templates            — array
 #     * feedback           — string    Feedback messages template name
 #   * providers            — array     Authentication providers enabled in Auth configuration
 #}
{% extends twigparent %}

{% block auth %}
    <h4>{{ __('Account Verification') }}</h4>

    {{ include(templates.feedback) }}

    <div class="profile profile-verify">

        {% if success %}
            <p>{{ __('Your account has been successfully verified!') }}</p>
        {% else %}
            <p>{{ __('Account verification code is invalid!') }}</p>
        {% endif %}


    </div>
{% endblock %}
