
<form class="navbar-form navbar-right" role="search">
    <div class="form-group">
        <div class="input-group">
            <input class="form-control" type="search" name="search"
                   tabindex="0" autocomplete="off"
                   autocorrect="off" autocapitalize="off" spellcheck="false"
                   role="textbox" aria-autocomplete="list"
                   placeholder="Search for member" style="width: 278px;" value="{{ queries.search }}">
            <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search"></i></span>
        </div>
    </div>
</form>
