##
## Bolt Members configuration options
##

## Registration
#
# If registration should be allowed [true|false]
registration: true

# Base URLs
urls:
    authentication: authentication
    membership: membership

## Access Control
#
roles:
    admin:
        - root
        - admin
        - developer
    member:
        - [ admin => 'Administrator' ]
