{#
 # Passed in variables:
 #
 #}
{% extends twigparent %}

{% block members %}
    <div class="row">
        <h4>New Member</h4>
    </div>

    <div class="row forum">

        <div class="small-12 columns">

        </div>

    </div>
{% endblock %}