{% extends twigparent %}

{% block login %}
    {% include "feedback.twig" %}

    <div class="login">
        <div class="row member-login">

            {{ _self.oauth_login(form_associate, providers) }}

        </div>
    </div>
{% endblock login %}

{% macro oauth_login(form_associate, providers) %}
    <div class="small-6 columns members-login-password">
        {{ form_start(form_associate) }}

        {% for provider in providers|keys %}
            {% if provider != 'local' %}
                {{ form_row(form_associate[provider]) }}
            {% endif %}
        {% endfor %}

        {{ form_end(form_associate) }}
    </div>
{% endmacro %}
