{% extends twigparent %}

{% block logout %}
    {% include "feedback.twig" %}

    <div class="logout">
        <div class="row member-logout">
            {{ form_start(form_login_password) }}

            {{ form_row(form_login_password.logout) }}

            {{ form_end(form_login_password) }}
        </div>
    </div>
{% endblock logout %}
