{% extends twigparent %}

{% block logout %}
    {% include "feedback.twig" %}

    <div class="logout">
        <div class="row member-logout">
            {{ form_start(password_form) }}

            {{ form_row(password_form.logout) }}

            {{ form_end(password_form) }}
        </div>
    </div>
{% endblock logout %}
