{#
 # Passed in variables:
 #
 #   * twigparent           — string    Template name to inherit from
 #   * form_logout          — FormView  Logout form (Symfony\Component\Form\FormView)
 #   * feedback             — Feedback  Informational, error, and debug feedback messages. @see feedback/feedback.twig
 #   * templates            — array
 #     * feedback           — string    Feedback messages template name
 #   * providers            — array     Authentication providers enabled in Auth configuration
 #}
{% extends twigparent %}

{% block logout %}
    {{ include(templates.feedback) }}

    <div class="logout">
        <div class="row auth-logout">
            {{ form_start(form_logout) }}

            {{ form_row(form_logout.logout) }}

            {{ form_end(form_logout) }}
        </div>
    </div>
{% endblock logout %}
