{% include '_header.twig' %}

<!-- Main Page Content and Sidebar -->

    <!-- Main Blog Content -->
    <div class="large-8 columns">

        {% block members %}
        {% endblock members %}

    </div>

    <!-- End Main Content -->

    {% include '_aside.twig' %}

<!-- End Main Content and Sidebar -->

{% include '_footer.twig' %}