{#
 # Warning: Calling .get() will flush the feedback message queue. Which is what
 #          you want most of the time, but if you're doing something tricky…
 #
 # If you wish to get them without flush, call .peek() instead of .get()
 #
 # Passed in variables:
 #   * feedback             — Feedback  Members feedback service (Bolt\Extension\Bolt\Members\Feedback)
 #     * get                — array     Return, and remove from queue, messages pending display
 #     * poke               — array     Return, and preserve queing of, messages pending display
 #}

{% set feedback = feedback.get|default(null) %}
{% if feedback %}
    <div class="row">
        <div class="small-12 columns">

            <div class="panel members-feedback">
                {% if feedback.debug|default(null) %}
                    <div class="members-messages-debug">
                        <h5>Debug Messages:</h5>
                        <ul class="members-feedback-messages">
                            {% for message in feedback.debug %}
                                <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                {% if feedback.error|default(null) %}
                    <div class="members-messages-error">
                        <h5>Error Messages:</h5>
                        <ul class="members-feedback-messages">
                            {% for message in feedback.error %}
                                <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                {% if feedback.info|default(null) %}
                    <div class="members-messages-info">
                        <h5>Informational Messages:</h5>
                        <ul class="members-feedback-messages">
                            {% for info in feedback.info %}
                                <li>{{ info }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

            </div>
        </div>
    </div>
{% endif %}
